.GameOptions__grid {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.categories {
  display: grid;
  border: var(--bttn-primary-bg) 1px solid;
  padding: 1rem;
  margin: 0;
}

.category__input {
  display: grid;
  padding: 0.5rem 0;
}

.GameOptions__playButton {
  max-width: max-content;
  margin: 0.5rem auto;
}