.GameOptions__grid {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.categories {
  display: grid;
  border: none;
  padding: 0;
  margin: 0;
}


.category__input {
  display: grid;
  padding: 0.5rem 0;
}