@font-face {
  font-family: "Gilroy";
  font-weight: normal;
  src: url("/fonts/Gilroy-Light.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: bold;
  src: url("/fonts/Gilroy-ExtraBold.otf") format("opentype");
}

/* COLOUR SCHEME */

:root {
  --bttn-primary-bg: rgb(255, 0, 67);
  --bttn-primary-color: #fff;
  --bttn-secondary-bg: rgb(0, 214, 242);
  --bttn-secondary-color: #000;
  --bttn-border-rad: 50px;
  --bttn-padding: 1rem;
  --bttn-outline: none;
  --bttn-text-align: center;
  --bttn-border: none;
  --bttn-font-weight: bold;
}

* {
  user-select: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Gilroy", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
}

button {
  border-radius: var(--bttn-border-rad);
  outline: var(--bttn-outline);
  border: var(--bttn-border);
  padding: var(--bttn-padding);
  font-weight: var(--bttn-font-weight);
}

.radio-bttn-label {
  border-radius: var(--bttn-border-rad);
  outline: var(--bttn-outline);
  background-color: var(--bttn-secondary-bg);
  padding: 0.5rem;
  text-align: center;
}

input[type="radio"]:checked + label code {
  font-weight: 1000;
  /* border: 2px solid rgb(255, 255, 255); */
}

input[type="radio"]:checked + label {
  font-weight: bold;
}

input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

button.primary {
  background-color: var(--bttn-primary-bg); 
}

code {
  background-color: rgba(0, 35, 82, 0.5);
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  border-radius: 0.5rem;
}