@font-face {
  font-family: "Gilroy";
  font-weight: normal;
  src: url("/fonts/Gilroy-Light.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: bold;
  src: url("/fonts/Gilroy-ExtraBold.otf") format("opentype");
}

/* :root {
  --font-family: url("/fonts/Gilroy-Light.otf");
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Gilroy", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
