@font-face {
  font-family: "Gilroy";
  font-weight: normal;
  src: url("/fonts/Gilroy-Light.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: bold;
  src: url("/fonts/Gilroy-ExtraBold.otf") format("opentype");
}

/* COLOUR SCHEME */

:root {
  --bttn-primary-bg: rgb(255, 0, 67);
  --bttn-primary-color: #fff;
  --bttn-secondary-bg: rgb(0, 214, 242);
  --bttn-secondary-color: #000;
  --bttn-border-rad: 50px;
  --bttn-padding: 0 1.5rem;
  --bttn-outline: none;
  --bttn-text-align: center;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Gilroy", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
