.Layout__header {
    height: 3rem;
    width: 100vw;
    padding: 1rem 0;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    position: fixed;
    top: 0;
}

.Layout__content {
    inset: 0 0 0 0;
}

.Layout__logo {
    padding-left: 5rem;
}